<p-menubar [model]="items">
    <ng-template pTemplate="start">
         <!-- <i class="pi pi-prime" style="font-size: 2.5rem;"></i> -->
         <a href="/">
            <img src="../../assets/images/fotsi_logo.png" alt="" style="width: 50px;">
         </a>
         <p-button
         badge="{{cartProductsHeader.length}}"
        label="Ir al carrito"
        icon="pi pi-shopping-cart"
        styleClass="p-button-secondary mx-5"
        badgeClass="p-badge-danger"
        (click)="show();"
      ></p-button>
    </ng-template>
    <ng-template pTemplate="end">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Search" />
        </span>

    </ng-template>
</p-menubar>


<!-- <p-menubar [model]="items">
    <ng-template pTemplate="start">
        <i class="pi pi-prime" style="font-size: 2.5rem; color: red;"></i>
        <input type="text" pInputText placeholder="Search">
   </ng-template>
    <button pButton label="Logout" icon="pi pi-power-off"></button>
</p-menubar> -->