<div class="bg-bluegray-900 text-gray-100 p-3 flex justify-content-between lg:justify-content-center align-items-center flex-wrap mt-5">
    <div class="font-bold mr-8">🔥 Ofertas de Miercoles!</div>
    <div class="align-items-center hidden lg:flex">
        <span class="line-height-3">Miercoles 2x1 en productos elaborados en Hidalgo</span>
    </div>
    <a class="flex align-items-center ml-2 mr-8">
        <a class="text-white" href="#"><span class="underline font-bold">COMPRA YA!</span></a>
    </a>
    <!-- <a pRipple class="flex align-items-center no-underline justify-content-center border-circle text-gray-50 hover:bg-bluegray-700 cursor-pointer transition-colors transition-duration-150" style="width:2rem; height: 2rem">
        <i class="pi pi-times"></i>
    </a> -->
</div>