<p-card styleClass="m-5" header="Delivery Information">
    <p>Enter your delivery information</p>

    <div class="">
        <label for="">Direccion</label>
        <div class="p-inputgroup my-2">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input [(ngModel)]="orderDto.address" type="text" pInputText placeholder="Direccion de envio">         
        </div>
        
    </div>
    
    <ng-template class="" pTemplate="footer">
        <p-button label="Siguiente" (click)="nextStep()" icon="pi pi-check" iconPos="left"></p-button>
    </ng-template>

</p-card>