<p-card styleClass="m-5" header="Personal Information">
    <p>Enter your personal information</p>

    <div class="">
        <label for="">Nombre</label>
        <div class="p-inputgroup my-2">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input [(ngModel)]="orderDto.name" type="text" pInputText placeholder="Nombre">         
        </div>
        <label for="">Edad</label>
        <div class="p-inputgroup my-2">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input [(ngModel)]="orderDto.age" type="text" pInputText placeholder="Edad">         
        </div>
        <label for="">Correo electronico</label>
        <div class="p-inputgroup my-2">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input [(ngModel)]="orderDto.email" type="text" pInputText placeholder="Correo electronico">         
        </div>
    </div>
    
    <ng-template class="" pTemplate="footer">
        <p-button label="Siguiente" (click)="nextStep()" icon="pi pi-check" iconPos="left"></p-button>
    </ng-template>

</p-card>