<p-card styleClass="m-5" header="Resumen">
  <p>
    Verifica tu informacion
  </p>


  <p-divider></p-divider>

  <p>Nombre: {{orderDto.name}}</p>

  <p>Email: {{orderDto.email}}</p>

  <p>Direccion de Envio: {{orderDto.address}}</p>
   
  <p-divider></p-divider>
  

  <p>Total de productos: {{orderDto.quantity}}</p>

  <h2>Total: {{orderDto.totalPrice}}</h2>
  <ng-template class="" pTemplate="footer">
    <p-button label="Pagar" (click)="show()" icon="pi pi-check" iconPos="left"></p-button>
  </ng-template>
</p-card>
