<p-card styleClass="m-5" header="Resumen Information">
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias
    repudiandae doloremque debitis. Veritatis asperiores vero quidem obcaecati
    natus sit illum aliquam veniam at quibusdam minus modi minima corrupti
    mollitia ad, impedit est hic nostrum? Dignissimos fugit incidunt ex quidem
    magni sapiente, impedit qui sint vitae ad, a animi officiis necessitatibus
    assumenda ipsam nam hic eum? Molestiae architecto sed sequi repellendus!
  </p>

  <ng-template class="" pTemplate="footer">
    <p-button label="Confirmar" icon="pi pi-check" iconPos="left"></p-button>
  </ng-template>
</p-card>
