<app-header [cartProductsHeader]="cartProductsHome"></app-header>

<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Encuentra las artesanias</span>
            <div class="text-6xl text-primary font-bold mb-3">que no sabias que necesitabas</div>
            <p class="mt-0 mb-4 text-700 line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            


            <button (click)="goToProducts()" pButton pRipple label="Ir a los productos" type="button" class="mr-3 p-button-raised"></button>
            <button pButton pRipple label="Sobre nosotros" type="button" class="p-button-outlined"></button>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="https://images.unsplash.com/photo-1562868198-be7fbd14123d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>

<app-cards-products (cartProductsEvt)="getProductsCart($event)"></app-cards-products>

<app-footer></app-footer>

<p-toast position="top-right"></p-toast>